* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

html {
	height: 100%;
}

body {
    height: 88%;
	overflow-x: hidden;
	background: url("images/bg_image.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

input[type=text],
input[type=password],
textarea {
	border: 1px solid;
	border-radius: 5px;
	padding: 10px;
	font-size: 120%;
}

label {
	padding-top: 1%;
	display: block;
}

a {
	color: lime;
}

.wrapper {
	position: relative;
	height: 100%;
}

.header-bar {
	position: relative;
	width: 100%;
	height: 12%;
	border: 1px solid #8f90a1;
	border-radius: 10px;
	background-color: white;
	display: flex;
	align-items: center;
	background: linear-gradient(90deg, black, green);
}

.container {
	position: relative;
	max-width: 1100px;
	min-height: 88%;
	margin: auto;
	padding: 15px;
	border: 1px solid #8f90a1;
	border-radius: 25px;
	background-color: #5a6570;
}

.footer-bar {
	position: relative;
	width: 100%;
	height: 12%;
	border-radius: 10px;
	border: 1px solid #8f90a1;
	background-color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: linear-gradient(90deg, black, green);
}

.user-bar {
	display: flex;
	justify-content: space-between;
	color: lime;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #8f90a1;
	background: linear-gradient(90deg, black, green);
}

.tab-list-text {
	margin-top: 1%;
}

.search-create-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.search-area {
	display: flex;
}

.custom-button {
	background-color: green;
	border: 1px solid;
	border-radius: 5px;
	color: aqua;
	padding: 10px;
	cursor: pointer;
	font-size: 120%;
}

.custom-button:hover {
	color: #2b56ff;
}

.tab-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: white;
	border: 1px solid rgb(226, 226, 226);
	border-radius: 5px;
	margin-top: 5px;
}

.tab-band-title {
	font-size: 120%;
}

.tab-form {
	display: flex;
	margin-top: 5px;
	padding: 1%;
}

.tab-detail {
	padding: 10px;
}
