{% extends 'tfe/main.html' %}
{% block content %}

    <div class="user-bar">
        {% if request.user.is_authenticated %}
            <p>YOU ARE LOGGED IN AS: {{ request.user }}</p>
            <a href="{% url 'tfe:logout' %}">LOGOUT</a>
        {% else %}
            <a href="{% url 'tfe:login' %}">LOGIN</a>
        {% endif %}
    </div>

    <h1 style="color: #e00000" class="tab-list-text">TAB LIST:</h1>
    {% if tab_count > 0 %}
        <h2>TFE has {{ tab_count }} tab{{ tab_count|pluralize:"s" }} submitted by users!</h2>
    {% endif %}

    <div class="search-create-wrapper">
        <form method="GET" class="search-area">
            <input type="text" name="search_area" value="{{ search_input }}">
            <input style="margin-left: 2%;" class="custom-button" type="submit" value="SEARCH">
        </form>
        <a class="custom-button" href="{% url 'tfe:tab_create' %}">CREATE PIECE OF ART</a>
    </div>

    <div class="tab-list-wrapper">
        {% for tab in tabs %}
            <div class="tab-wrapper">
                <div class="tab-band-title">
                    <p>{{ tab.band }} – {{ tab.title }}</p>
                    <a style="color: blue" href="{% url 'tfe:tab' tab.id %}">View</a>
                    <a style="color: green" href="{% url 'tfe:tab_update' tab.id %}">Edit</a>
                </div>
            </div>

            {% empty %}
                <h3>No tabs in list</h3>
        {% endfor %}
    </div>

    <!-- <table>
        <tr>
            <th>Tabs:</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% for tab in tabs %}
            <tr>
                <td>{{ tab.band }} – {{ tab.title }}</td>
                <td><a href="{% url 'tfe:tab' tab.id %}">View</a></td>
                <td><a href="{% url 'tfe:tab_update' tab.id %}">Edit</a></td>
                <td><a href="{% url 'tfe:tab_delete' tab.id %}">Delete</a></td>
            </tr>
            {% empty %}
                <h3>No tabs in list</h3>
        {% endfor %}
    </table> -->

{% endblock content %}
