<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<title>TFE</title>

	<!-- load fonts -->
	<link rel="preconnect" type="text/css" href="https://fonts.googleapis.com">
	<link rel="preconnect" type="text/css" href="https://fonts.gstatic.com" crossorigin>
	<link type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

	<!-- load logo -->
	{% load static %}
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'tfe/images/bass_guitar_logo.png' %}">

	<!-- load styles -->
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'tfe/style.css' %}">
</head>
<body>
	<div class="wrapper">
		<div class="header-bar">
			<div>
				<a href="{% url 'tfe:tabs' %}">
					<img src="{% static 'tfe/images/bass_guitar_logo.png' %}" alt="logo" width="100px" height="100px">
				</a>
			</div>

			<h1 style="color: #0062ff;">TABS FOR EVERYONE</h1>
		</div>

		<div class="container">
			{% block content %}
				<!-- content goes here -->
			{% endblock content %}
		</div>

		<footer class="footer-bar">
			<div>
				<h1 style="color: #0062ff">IDB-19-07, Afanasyev V.A.</h1>
			</div>
		</footer>
	</div>
</body>
</html>
