{% extends 'tfe/main.html' %}
{% block content %}

<div class="user-bar">
	<h1>REGISTER</h1>
</div>

<div class="tab-form">
	<form method="POST">
		{% csrf_token %}
		<!-- {{ form.as_p }} -->
		<label>{{ form.username.label }}</label>
		{{ form.username }}
		<label>{{ form.password1.label }}</label>
		{{ form.password1 }}
		<label>{{ form.password2.label }}</label>
		{{ form.password2 }}
	</form>
</div>

<input style="margin-left: 1%;" class="custom-button" type="submit" value="REGISTER">
<p style="margin-left: 1%; margin-top: 1%;">
	Already have an account?
	<a style="text-decoration: underline;" href="{% url 'tfe:login' %}">
			Login
	</a>
</p>

{% endblock content %}
