{% if request.user.is_authenticated %}
    <p>{{ request.user }}</p>
    <a href="{% url 'tfe:logout' %}">Logout</a>
{% else %}
    <a href="{% url 'tfe:login' %}">Login</a>
{% endif %}

<hr>

<h1>Tabs For Everyone</h1>

<a href="{% url 'tfe:tab_create' %}">Add tab</a>
<table>
    <tr>
        <th>Tabs:</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for tab in tabs %}
        <tr>
            <td>{{ tab.band }} – {{ tab.title }}</td>
            <td><a href="{% url 'tfe:tab' tab.id %}">View</a></td>
            <td><a href="{% url 'tfe:tab_update' tab.id %}">Edit</a></td>
            <td><a href="{% url 'tfe:tab_delete' tab.id %}">Delete</a></td>
        </tr>
        {% empty %}
            <h3>No tabs in list</h3>
    {% endfor %}
</table>
